include:
  - project: onelitefeather/ci-template
    ref: imporved-cache
    file: base.yaml
  - project: onelitefeather/ci-template
    ref: imporved-cache
    file: sonarqube.yaml


deploy:
  stage: deploy
  script:
    - gradle publish